.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: center;
}

.loading > span {
	--delay: 0s;
	-webkit-animation: arrows 1s var(--delay) infinite ease-in;
	animation: arrows 1s var(--delay) infinite ease-in;
}

@-webkit-keyframes arrows {
	0%,
	100% {
		color: var(--color-primary-3);
		transform: translateY(0);
	}
	50% {
		color: var(--color-primary-1);
		transform: translateY(20px);
	}
}

@keyframes arrows {
	0%,
	100% {
		color: var(--color-primary-3);
		transform: translateY(0);
	}
	50% {
		color: var(--color-primary-1);
		transform: translateY(20px);
	}
}
